# Part 1 - Analysis Current Snapshot

In [8]:
import pandas as pd
import numpy as np
import datetime
import requests
import urllib.request
import time
import os
import math
from pathlib import Path
### Set TimeZone to HK if you are using docker container
#!rm /etc/localtime
#!ln -s /usr/share/zoneinfo/Asia/Hong_Kong /etc/localtime

### Load data from è³‡æ–™ä¸€ç·šé€š (data.gov.hk)

The data source is "2019å† ç‹€ç—…æ¯’ç—…çš„æœ¬åœ°æœ€æ–°æƒ…æ³(ç¹é«”ä¸­æ–‡)" / "Latest local situation of COVID-19 (Traditional Chinese)" found under:

https://data.gov.hk/en-data/dataset/hk-dh-chpsebcddr-novel-infectious-agent

The schema has changed over time, so there are at least two different schema

### Old schema (v1)

In [9]:
s = 'http://www.chp.gov.hk/files/misc/enhanced_sur_covid_19_chi.csv&amp;time=20200404-0917'
resource_url = f'https://api.data.gov.hk/v1/historical-archive/get-file?url={s}'
df_v1 = pd.read_csv(resource_url)
df_v1[-5:]

,å€‹æ¡ˆç·¨è™Ÿ,å ±å‘Šæ—¥æœŸ,ç™¼ç—…æ—¥æœŸ,æ€§åˆ¥,å¹´é½¡,å…¥ä½é†«é™¢åç¨±,ä½é™¢/å‡ºé™¢/æ­»äº¡,é¦™æ¸¯/éé¦™æ¸¯å±…æ°‘,å€‹æ¡ˆåˆ†é¡*,ç¢ºè¨º/ç–‘ä¼¼å€‹æ¡ˆ
841,842,03/04/2020,02/04/2020,ç”·,20,åŒ—å€é†«é™¢,ä½é™¢,é¦™æ¸¯å±…æ°‘,æœ¬åœ°å€‹æ¡ˆçš„å¯†åˆ‡æ¥è§¸è€…,ç¢ºè¨º
842,843,03/04/2020,02/04/2020,å¥³,19,å¨çˆ¾æ–¯è¦ªç‹é†«é™¢,ä½é™¢,é¦™æ¸¯å±…æ°‘,è¼¸å…¥å€‹æ¡ˆ,ç¢ºè¨º
843,844,03/04/2020,02/04/2020,å¥³,59,å¨çˆ¾æ–¯è¦ªç‹é†«é™¢,ä½é™¢,é¦™æ¸¯å±…æ°‘,æœ¬åœ°å€‹æ¡ˆçš„å¯†åˆ‡æ¥è§¸è€…,ç¢ºè¨º
844,845,03/04/2020,31/03/2020,å¥³,47,ä¼Šåˆ©æ²™ä¼¯é†«é™¢,ä½é™¢,é¦™æ¸¯å±…æ°‘,è¼¸å…¥å€‹æ¡ˆ,ç¢ºè¨º
845,846,03/04/2020,24/03/2020,ç”·,51,å¾…å®š,å¾…å…¥é™¢,é¦™æ¸¯å±…æ°‘,æœ¬åœ°å€‹æ¡ˆçš„å¯†åˆ‡æ¥è§¸è€…,ç¢ºè¨º

### Latest schema (v2)

Note the last two columns definition have been changed

In [3]:
# Get the latest data
resource_url = 'http://www.chp.gov.hk/files/misc/enhanced_sur_covid_19_chi.csv'
df_v2 = pd.read_csv(resource_url)
df_v2[-5:]

        å€‹æ¡ˆç·¨è™Ÿ        å ±å‘Šæ—¥æœŸ ç™¼ç—…æ—¥æœŸ  æ€§åˆ¥  å¹´é½¡  å…¥ä½é†«é™¢åç¨± ä½é™¢/å‡ºé™¢/æ­»äº¡ é¦™æ¸¯/éé¦™æ¸¯å±…æ°‘     åˆ†é¡* å€‹æ¡ˆç‹€æ³*
15436  97093  06/02/2022   å¾…å®š  å¾…å®š  å¾…å®š     NaN      å¾…å…¥é™¢       å¾…å®š  æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ    å¾…å®š
15437  97094  06/02/2022   å¾…å®š  å¾…å®š  å¾…å®š     NaN      å¾…å…¥é™¢       å¾…å®š  æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ    å¾…å®š
15438  97095  06/02/2022   å¾…å®š  å¾…å®š  å¾…å®š     NaN      å¾…å…¥é™¢       å¾…å®š  æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ    å¾…å®š
15439  97096  06/02/2022   å¾…å®š   å¥³  72     NaN      å¾…å…¥é™¢       å¾…å®š  æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ    å¾…å®š
15440  97097  06/02/2022   å¾…å®š   å¥³  11     NaN      å¾…å…¥é™¢       å¾…å®š  æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ    å¾…å®š

### Notice the severe delay æ•¸æ“šæ›´æ–°åš´é‡æ»¯å¾Œ

Although the datasource was claimed to update every night, we can see a very severe delay in the data report dates.  For examples, on the 8 Mar 2022, the API only return the patient list upto 6 Feb 2022 !

<strong> A total of 4 weeks delay !ğŸ¤¯ </strong>

<strong>æœ‰æ•¸æ“šä½†ä¿‚delayå››å€‹æ˜ŸæœŸ! ğŸ¤¯ </strong>

## Lets inspect the unique values in each column

In [10]:
PREVIEW_COLS = ['æ€§åˆ¥','å¹´é½¡','å…¥ä½é†«é™¢åç¨±','ä½é™¢/å‡ºé™¢/æ­»äº¡','é¦™æ¸¯/éé¦™æ¸¯å±…æ°‘','åˆ†é¡*','å€‹æ¡ˆç‹€æ³*','å€‹æ¡ˆåˆ†é¡*','ç¢ºè¨º/ç–‘ä¼¼å€‹æ¡ˆ']
def preview(df):
    print('-' * 20, "Columns", '-'* 20)
    print("columns", ":\n", list(df.columns.values))

    print('-' * 20, "Distinct Values", '-'* 20)
    for col in PREVIEW_COLS:
        if col in df.columns.values:
            print(col, ":\n" , df[col].unique())
    
    print('-' * 20, "Dates Example", '-'* 20)
    for col in df[['å ±å‘Šæ—¥æœŸ', 'ç™¼ç—…æ—¥æœŸ']]:
        print(col, ":\n" , df[col][0:5].values)
        
#preview(df_v1)
preview(df_v2)

-------------------- Columns --------------------
columns :
 ['å€‹æ¡ˆç·¨è™Ÿ', 'å ±å‘Šæ—¥æœŸ', 'ç™¼ç—…æ—¥æœŸ', 'æ€§åˆ¥', 'å¹´é½¡', 'å…¥ä½é†«é™¢åç¨±', 'ä½é™¢/å‡ºé™¢/æ­»äº¡', 'é¦™æ¸¯/éé¦™æ¸¯å±…æ°‘', 'åˆ†é¡*', 'å€‹æ¡ˆç‹€æ³*']
-------------------- Distinct Values --------------------
æ€§åˆ¥ :
 ['ç”·' 'å¥³' nan 'å¾…å®š']
å¹´é½¡ :
 ['39' '56' '62' '63' '47' '68' '64' '73' '72' '37' '75' '80' '60' '25'
 '28' '55' '65' '58' '42' '24' '70' '91' '57' '22' '50' '51' '23' '69'
 '86' '52' '59' '71' '66' '43' '67' '41' '61' '54' '45' '46' '32' '83'
 '38' '48' '96' '76' '35' '33' '49' '21' '16' '29' '26' '89' '79' '84'
 '44' '36' '31' '1' '30' '18' '27' '34' '20' '12' '19' '40' '4' '13' '17'
 '15' '11' '74' '78' '7' '14' '77' '53' '<1' '2' '93' '6' '3' '8' '5' '10'
 '9' '85' '92' '95' '87' '90' '94' '82' '88' '81' '97' '100' '98' nan 'å¾…å®š']
å…¥ä½é†«é™¢åç¨± :
 [nan]
ä½é™¢/å‡ºé™¢/æ­»äº¡ :
 ['å‡ºé™¢' 'æ­»äº¡' 'ä¸é©ç”¨' nan 'ä½é™¢' 'å¾…å…¥é™¢']
é¦™æ¸¯/éé¦™æ¸¯å±…æ°‘ :
 ['éé¦™æ¸¯å±…æ°‘' 'é¦™æ¸¯å±…æ°‘' nan 'å¾…å®š']
åˆ†é¡* :
 ['è¼¸å…¥å€‹æ¡ˆ' 'èˆ‡è¼¸å…¥å€‹æ¡ˆæœ‰æµè¡Œç—…å­¸é—œé€£' 'å¯èƒ½æœ¬åœ°å€‹æ¡ˆ' 'æœ¬åœ°å€‹æ¡ˆ' 'èˆ‡æœ¬åœ°å€‹æ¡ˆæœ‰æµè¡Œç—…å­¸é—œé€£' 'èˆ‡å¯èƒ½æœ¬åœ°å€‹æ¡ˆæœ‰æµè¡Œç—…å­¸é—œé€£' nan
 'æœ¬åœ°æ„ŸæŸ“å€‹æ¡ˆ']
å€‹æ¡ˆç‹€æ³* :
 ['ç¢ºè¨º' 'åˆ é™¤' 'ç„¡ç—‡ç‹€æ„ŸæŸ“' 'å¾©é™½' 'å¾…å®š' 'æœªçŸ¥']
-------------------- Dates Example --------------------
å ±å‘Šæ—¥æœŸ :
 ['23/01/2020' '23/01/2020' '24/01/2020' '24/01/2020' '24/01/2020']
ç™¼ç—…æ—¥æœŸ :
 ['21/01/2020' '18/01/2020' '20/01/2020' '23/01/2020' '23/01/2020']

## Data cleansing

There are quite some inconsistent values/typos we need to clean.
Here is a quick & dirty cleaning by mapping all invalid values to NaN.
I also simplified the import/local cases category.

In [11]:
# Parse date
def parse_ddmmYYYY(s):
    try:
        if isinstance(s, str):
            if s in ['ç„¡ç—…å¾µ','ä¸é©ç”¨','æœªçŸ¥', 'ä¸€æœˆ','ä¸‰æœˆä¸­','ä¸ƒæœˆä¸­','åæœˆ' , 'Unknown']:
                return np.NaN
            else:
                return datetime.datetime.strptime(s,'%d/%m/%Y')
        else:
            return np.NaN
    except:
        print(f"****** Failed to parse ddmmYYY: {s}, type={type(s)} ******")
        return np.NaN

# Parse Age
def parse_age(s):
    try:
        if isinstance(s, str):
            if s == '<1' or 'å€‹æœˆ' in s:
                return float(0)
            elif s in ['ä¸é©ç”¨', 'pending']:
                return np.NaN
            else:
                return float(s)
        elif math.isnan(s):
            return np.NaN
        else:
            return float(s)
    except:
        print(f"****** Failed to parse Age: {s}, type={type(s)} ******")
        return np.NaN

# Parse Category
def parse_category(s):
    if isinstance(s, str):
        if 'è¼¸å…¥å€‹æ¡ˆ' in s:
            return 'è¼¸å…¥å€‹æ¡ˆ'
        elif 'æœ¬åœ°' in s:
            return 'æœ¬åœ°å€‹æ¡ˆ'
        else:
            return s
    else:
        return np.NaN

# Clean the data
def cleanse(df):
    df = df.copy()
    
    # Map V1 to V2 cols
    if 'å€‹æ¡ˆåˆ†é¡*' in df.columns.values:
        df.rename(columns={'å€‹æ¡ˆåˆ†é¡*':'åˆ†é¡*'}, inplace=True)
    if 'ç¢ºè¨º/ç–‘ä¼¼å€‹æ¡ˆ' in df.columns.values:
        df.rename(columns={'ç¢ºè¨º/ç–‘ä¼¼å€‹æ¡ˆ':'å€‹æ¡ˆç‹€æ³*'}, inplace=True)
    
    # Parsing and Defaults
    df = df.replace(['å¾…å®š'], np.NaN)
    df['å¹´é½¡'] = df['å¹´é½¡'].apply(parse_age)    
    df['ç™¼ç—…æ—¥æœŸ'] = df['ç™¼ç—…æ—¥æœŸ'].apply(parse_ddmmYYYY)
    df['å ±å‘Šæ—¥æœŸ'] = df['å ±å‘Šæ—¥æœŸ'].apply(parse_ddmmYYYY)
    df['åˆ†é¡*'] = df['åˆ†é¡*'].apply(parse_category)
    
    # Compute
    try:
        df['å ±å‘Šèˆ‡ç™¼ç—…æ—¥å·®'] = (df['å ±å‘Šæ—¥æœŸ'] - df['ç™¼ç—…æ—¥æœŸ']).dt.days
    except:
        print(f"**Failed to compute å ±å‘Šèˆ‡ç™¼ç—…æ—¥å·®")
        df['å ±å‘Šèˆ‡ç™¼ç—…æ—¥å·®'] = np.NaN
    return df

df = cleanse(df_v2)

## Statistics

Now we can play around with different grouping statistics. For examples:

### Total Count and Average Age of each category

In [6]:
from IPython.display import display

display(
    df.groupby(
        ['åˆ†é¡*', 'ä½é™¢/å‡ºé™¢/æ­»äº¡', 'å€‹æ¡ˆç‹€æ³*'] #'æ€§åˆ¥'
    ).agg({
        'æ€§åˆ¥': ['count'],
        'å¹´é½¡': ['mean']
    }).round(1).replace(np.NaN, '-')
)
print("From ", min(df['å ±å‘Šæ—¥æœŸ']), " to ", max(df['å ±å‘Šæ—¥æœŸ']))

                        æ€§åˆ¥    å¹´é½¡
                     count  mean
åˆ†é¡*  ä½é™¢/å‡ºé™¢/æ­»äº¡ å€‹æ¡ˆç‹€æ³*
æœ¬åœ°å€‹æ¡ˆ ä½é™¢       ç„¡ç—‡ç‹€æ„ŸæŸ“     82  48.4
              ç¢ºè¨º       816  45.0
     å‡ºé™¢       å¾©é™½         1  29.0
              ç„¡ç—‡ç‹€æ„ŸæŸ“    149  37.2
              ç¢ºè¨º     10103  45.2
     å¾…å…¥é™¢      ç„¡ç—‡ç‹€æ„ŸæŸ“     28  35.7
              ç¢ºè¨º       117  37.9
     æ­»äº¡       ç¢ºè¨º       207  78.5
è¼¸å…¥å€‹æ¡ˆ ä¸é©ç”¨      ç¢ºè¨º        36  37.8
     ä½é™¢       ç„¡ç—‡ç‹€æ„ŸæŸ“     22  42.2
              ç¢ºè¨º        24  38.1
     å‡ºé™¢       å¾©é™½         9  30.9
              ç„¡ç—‡ç‹€æ„ŸæŸ“    240  36.3
              ç¢ºè¨º      3552  34.8
     å¾…å…¥é™¢      æœªçŸ¥         1  41.0
              ç„¡ç—‡ç‹€æ„ŸæŸ“      6  40.8
     æ­»äº¡       ç¢ºè¨º         6  60.7

From  2020-01-23 00:00:00  to  2022-02-06 00:00:00

### ç¬¬ä¸€è‡³ç¬¬å››æ³¢ç–«æƒ…æ­»äº¡äººæ•¸å…±213äºº

In [7]:
start_date = '2019-01-01'
end_date = '2021-12-31'

display(
    df.where(
       (df['å ±å‘Šæ—¥æœŸ'] >= start_date) & (df['å ±å‘Šæ—¥æœŸ'] < end_date)
    ).groupby(
        ['ä½é™¢/å‡ºé™¢/æ­»äº¡']
    ).agg({
        'æ€§åˆ¥': ['count'],
        'å¹´é½¡': ['mean']
    }).round(1).replace(np.NaN, '-')
)

             æ€§åˆ¥    å¹´é½¡
          count  mean
ä½é™¢/å‡ºé™¢/æ­»äº¡
ä¸é©ç”¨          36  37.8
å‡ºé™¢        12382  43.1
æ­»äº¡          213  78.0

### æ ¸å°ä¸€ä¸‹è¡ç”Ÿç½²è¡ç”Ÿé˜²è­·ä¸­å¿ƒè³‡æ–™:

æˆªè‡³2022å¹´3æœˆ7æ—¥ï¼Œè¡ç”Ÿç½²è¡ç”Ÿé˜²è­·ä¸­å¿ƒç´¯è¨ˆå ±å‘Š2287å®—æ­»äº¡å€‹æ¡ˆã€‚é¦™æ¸¯åœ¨2021å¹´12æœˆä¸‹æ—¬é–‹å§‹å‡ºç¾ç¬¬äº”æ³¢ç–«æƒ…ï¼Œè‡ªç¬¬äº”æ³¢ç–«æƒ…èµ·ï¼Œå…±éŒ„å¾—2074å®—æ­»äº¡å€‹æ¡ˆã€‚å› æ­¤ç¬¬ä¸€è‡³ç¬¬å››æ³¢ç–«æƒ…æ­»äº¡äººæ•¸æ˜¯ 2287 - 2074 = 213. So our code seems correct !

<br>

#  Part 2 - Estimate hospitalized time and waiting time ä½é™¢æ—¥æ•¸åŠç­‰å€™æ™‚é–“

ä¾†çœ‹æ›´è¤‡é›œçš„ç´°ç¯€ï¼Œæˆ‘åœ°å¯ä»¥åˆ†ææ¯ä½æ‚£è€…çš„æ™‚é–“ç·šï¼Œä¼°ç®—æ‚£è€…çš„ï¼š
- ç­‰å¾…å…¥é™¢æ—¥æ•¸
- ä½é™¢æ—¥æ•¸

ä¾‹å¦‚:  å¾…å…¥é™¢ => ä½é™¢ => å‡ºé™¢
ä¸­é–“çš„æ™‚é–“ç›¸å·®æ‡‰è©²å°±æ˜¯ "ç­‰å¾…å…¥é™¢æ—¥æ•¸" åŠ "ä½é™¢æ—¥æ•¸"

Now we come to a more sophisticated analysis: tracking the timeline of each patient. The goal is to estimate:
- the waiting time to admit to hospital
- the staying time inside the hosptial

### STEP1:  download all historical snapshot CSV to local

<strong>This steps can take a long time.</strong>
And it seems wget is having a better performance than python. So the code below will generate a shell script full of wget commands, then run the script itself.

In [ ]:
# To reduce network bandwidth, we download once and save locally
data_dir = './raw'
resource_name = 'enhanced_sur_covid_19_chi.csv'
resource_url = f'http://www.chp.gov.hk/files/misc/{resource_name}'

YESTERDAY = datetime.datetime.now() - datetime.timedelta(1)
DAY_1 = datetime.date(2020,1,1)
DAY_N = datetime.date(2024,1,1)

os.makedirs(data_dir, exist_ok=True)

def get_historical_timestamps(resource_url, start_date, end_date):
    start = start_date.strftime('%Y%m%d')
    end = end_date.strftime('%Y%m%d')
    query = f"https://api.data.gov.hk/v1/historical-archive/list-file-versions?url={resource_url}&amp;start={start}&amp;end={end}"
    j = requests.get(query).json()
    return dict(zip(j['data-dictionary-dates'],j['timestamps']))

def generate_download_script():
    os.makedirs(data_dir, exist_ok=True)
    download_script = open(Path(data_dir,"download.sh"), "w")
    timestamps = get_historical_timestamps(resource_url, DAY_1, YESTERDAY)
    download_script.write('#!/bin/sh\n')
    for yyyymmdd, file_timestamp in timestamps.items():
        query = f"https://api.data.gov.hk/v1/historical-archive/get-file?url={resource_url}&amp;time={file_timestamp}"
        output_file = f'{resource_name}_{yyyymmdd}'
        download_script.write(f"if [ ! -f {output_file} ]; then \n")
        download_script.write(f'   echo Downloading "{output_file}" from "{query}" \n')
        download_script.write(f'   wget "{query}" -q -O "{output_file}" \n')
        download_script.write(f"fi\n")
        #urllib.request.urlretrieve(query, f'{resource_name}_{yyyymmdd}')
    print("Generated:", download_script)
    download_script.close()

# Kick off the download
generate_download_script()
os.system(f"cd {data_dir}; sh ./download.sh")

### STEP2: Read all CSV into dataframe, cleanse them and stack them together

<strong>This steps can take a long time.</strong>

In [ ]:
def concate_history():
    history = None
    for i, date in enumerate(pd.date_range(DAY_1, YESTERDAY)):
        cached_df = Path(data_dir, f"{resource_name}_{date.strftime('%Y%m%d')}_cleansed")
        if cached_df.exists():
            print(f"Processing {date}  ... cached:", cached_df)
            df = pd.read_pickle(cached_df)
        else:
            print(f"Processing {date}  ...")
            cached_csv = Path(data_dir, f"{resource_name}_{date.strftime('%Y%m%d')}")
            if not cached_csv.exists():
                #print(f"Warning: {cached_csv} is missing")
                continue
            df = pd.read_csv(cached_csv)
            df = cleanse(df)
            df.to_pickle(cached_df)
        # day1
        if history is None:
            history = df
        # Concate
        df['record_date'] = date
        history = history.append(df)
    return history

history = concate_history()

### STEP3: Combine the timeline of each patient

<Strong>Again this part takes time</Strong>

In [18]:
def merge_history(history):
    H = history
    case_ids = H['å€‹æ¡ˆç·¨è™Ÿ'].unique()
    extra_cols = ['å¾…å…¥é™¢|æœ‰å¾…æä¾›@æ—¥æœŸ', 'ä½é™¢@æ—¥æœŸ', 'å‡ºé™¢@æ—¥æœŸ','æ­»äº¡@æ—¥æœŸ','ä¸é©ç”¨|nan@æ—¥æœŸ']

    df_merged = pd.DataFrame()
    for i, case_id in enumerate(case_ids):
        if i % 1000 == 0:
            print(f"Merging the {i}th case ...")
        patient = H[H['å€‹æ¡ˆç·¨è™Ÿ'] == case_id]
        pending_date = patient[(patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å¾…å…¥é™¢') | (patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'æœ‰å¾…æä¾›')].record_date.min()
        enter_date = patient[patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'ä½é™¢'].record_date.min()
        exit_date = patient[patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å‡ºé™¢'].record_date.min()
        pass_date = patient[patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'æ­»äº¡'].record_date.min()
        #na_date = patient[(patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'ä¸é©ç”¨') | (patient['ä½é™¢/å‡ºé™¢/æ­»äº¡'].isnull()) ].record_date.min()

        latest = patient[-1:].copy()
        latest['å¾…å…¥é™¢|æœ‰å¾…æä¾›@æ—¥æœŸ'] = pending_date
        latest['ä½é™¢@æ—¥æœŸ'] = enter_date
        latest['å‡ºé™¢@æ—¥æœŸ'] = exit_date
        latest['æ­»äº¡@æ—¥æœŸ'] = pass_date
        #latest['ä¸é©ç”¨|nan@æ—¥æœŸ'] = na_date

        try:
            latest['è¼ªå€™æ—¥æ•¸'] = latest['ä½é™¢@æ—¥æœŸ'] - latest['å¾…å…¥é™¢|æœ‰å¾…æä¾›@æ—¥æœŸ']
        except:
            latest['è¼ªå€™æ—¥æ•¸'] = np.NaN

        try:
            latest['ä½é™¢æ—¥æ•¸'] = latest['å‡ºé™¢@æ—¥æœŸ'] - latest['ä½é™¢@æ—¥æœŸ']
        except:
            latest['ä½é™¢æ—¥æ•¸'] = np.NaN
        df_merged = df_merged.append(latest)

    # Convert dt to days
    df_merged['è¼ªå€™æ—¥æ•¸'] = df_merged['è¼ªå€™æ—¥æ•¸'].dt.days
    df_merged['ä½é™¢æ—¥æ•¸'] = df_merged['ä½é™¢æ—¥æ•¸'].dt.days
    return df_merged

df_merged = merge_history(history)

Merging the 0th case ...
Merging the 1000th case ...
Merging the 2000th case ...
Merging the 3000th case ...
Merging the 4000th case ...
Merging the 5000th case ...
Merging the 6000th case ...
Merging the 7000th case ...
Merging the 8000th case ...
Merging the 9000th case ...
Merging the 10000th case ...
Merging the 11000th case ...
Merging the 12000th case ...
Merging the 13000th case ...
Merging the 14000th case ...
Merging the 15000th case ...

### STEP4: Add age, year, month and week bins

In [19]:
def cut_bins(df_merged):
    # Age Bins
    bins_age = [0,2,5,11,18,25,35,45,55,65,75,85,150]
    bins_age_label = ['0-1 æ­²','2-4 æ­²','5-10 æ­²','11-17 æ­²','18-24 æ­²','25-34 æ­²',
            '35-44 æ­²','45-54 æ­²','55-64 æ­²','65-74 æ­²','75-84 æ­²','85 æ­²ä»¥ä¸Š']

    # Time Bins
    tz= None #"Asia/Hong_Kong" #Not needed
    YEARS = [year for year in pd.date_range(DAY_1, DAY_N, freq='YS', tz=tz)]
    bins_year = [np.datetime64(d) for d in YEARS]
    bins_year_label = [ d.year for d in YEARS[:-1]]

    MONTHS = [month for month in pd.date_range(DAY_1, DAY_N, freq='MS', tz=tz)]
    bins_month = [np.datetime64(d) for d in MONTHS]
    bins_month_label = [ f'{d.month}/{d.year}' for d in MONTHS[:-1]]

    WEEKS = [week for week in pd.date_range(DAY_1, DAY_N, freq='W-SUN', tz=tz)]
    bins_week = [np.datetime64(d) for d in WEEKS]
    bins_week_label = [ f'{d.day}/{d.month}/{d.year}' for d in WEEKS[:-1]]

    df = df_merged.copy()
    df['å¹´é½¡çµ„åˆ¥'] = pd.cut(df['å¹´é½¡'], bins=bins_age, labels=bins_age_label, right=False)
    df['å¹´'] = pd.cut(df['å ±å‘Šæ—¥æœŸ'], bins=bins_year, labels=bins_year_label, right=False)
    df['æœˆ'] = pd.cut(df['å ±å‘Šæ—¥æœŸ'], bins=bins_month, labels=bins_month_label, right=False)
    df['é€±'] = pd.cut(df['å ±å‘Šæ—¥æœŸ'], bins=bins_week, labels=bins_week_label, right=False)
    return df

df = cut_bins(df_merged)

Lets save the result after all these long program run:

In [20]:
df.to_pickle("df.pickle")
df = pd.read_pickle("df.pickle")

### Group by age group ä»¥å¹´é½¡çµ„åˆ¥åˆ†é¡

In [31]:
# Analyze Period
start_date = np.datetime64(datetime.date(2020,1,1))
end_date = np.datetime64(datetime.date(2022,10,1))
pd.set_option('display.max_rows', 4000)

# Query
groups = df[
    (
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å‡ºé™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'æ­»äº¡')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'ä½é™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å¾…å…¥é™¢')
    )&
    (df['å ±å‘Šæ—¥æœŸ'] >= start_date) &
    (df['å ±å‘Šæ—¥æœŸ'] <= end_date)
].groupby(
    ['å¹´', 'å¹´é½¡çµ„åˆ¥']
).agg({
    'æ€§åˆ¥': ['count'],
    'è¼ªå€™æ—¥æ•¸': ['mean'],
    'ä½é™¢æ—¥æ•¸': ['mean', 'sum']
}).round(1).replace(np.NaN, '-')

g = groups[
    groups['æ€§åˆ¥']['count'] > 0
]
display(g)

                æ€§åˆ¥ è¼ªå€™æ—¥æ•¸  ä½é™¢æ—¥æ•¸
             count mean  mean      sum
å¹´    å¹´é½¡çµ„åˆ¥
2020 0-1 æ­²      61  1.0  11.2    638.0
     2-4 æ­²     109  1.2  10.8   1167.0
     5-10 æ­²    188  1.2  10.5   1947.0
     11-17 æ­²   305  1.2  11.7   3490.0
     18-24 æ­²   800  1.4  11.5   8748.0
     25-34 æ­²  1340  1.3  10.9  14021.0
     35-44 æ­²  1439  1.3  11.1  15221.0
     45-54 æ­²  1413  1.3  11.3  15482.0
     55-64 æ­²  1582  1.2  13.9  20946.0
     65-74 æ­²   999  1.1  18.3  17155.0
     75-84 æ­²   387  1.1  24.4   7569.0
     85 æ­²ä»¥ä¸Š    194  1.0  27.5   3632.0
2021 0-1 æ­²      75  1.0  12.6    921.0
     2-4 æ­²      67  1.0  11.4    766.0
     5-10 æ­²    100  1.0  11.7   1156.0
     11-17 æ­²   136  1.0  12.4   1649.0
     18-24 æ­²   304  1.0  11.5   3493.0
     25-34 æ­²   847  1.0  11.0   8981.0
     35-44 æ­²   888  1.0  10.3   8910.0
     45-54 æ­²   543  1.0  12.5   6600.0
     55-64 æ­²   433  1.0  12.5   5323.0
     65-74 æ­²   259  1.0  16.8   4196.0
     75-84 æ­²   108  1.0  22.0   2130.0
     85 æ­²ä»¥ä¸Š     37  1.0  28.4    738.0
2022 0-1 æ­²      38  1.2  16.1    242.0
     2-4 æ­²      54  1.4  12.1    291.0
     5-10 æ­²    125  1.4  10.5    703.0
     11-17 æ­²   185  1.3  11.1   1419.0
     18-24 æ­²   263  1.4  10.5   2263.0
     25-34 æ­²   482  1.5  10.5   3595.0
     35-44 æ­²   507  1.6  10.1   3222.0
     45-54 æ­²   476  1.5  11.2   3165.0
     55-64 æ­²   355  1.4  12.3   1853.0
     65-74 æ­²   186  1.4  12.6    996.0
     75-84 æ­²    80  1.0  12.7    317.0
     85 æ­²ä»¥ä¸Š     27  1.5  18.5     74.0

### Group by year  ä»¥æ¯å¹´è¨ˆ

In [29]:
# Analyze Period
start_date = np.datetime64(datetime.date(2020,1,1))
end_date = np.datetime64(datetime.date(2022,10,1))

# Query
groups = df[
    (
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å‡ºé™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'æ­»äº¡')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'ä½é™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å¾…å…¥é™¢')
    )&
    (df['å ±å‘Šæ—¥æœŸ'] >= start_date) &
    (df['å ±å‘Šæ—¥æœŸ'] <= end_date)
].groupby(
    ['å¹´','æœˆ']
).agg({
    'æ€§åˆ¥': ['count'],
    'è¼ªå€™æ—¥æ•¸': ['mean'],
    'ä½é™¢æ—¥æ•¸': ['mean', 'sum']
}).round(1).replace(np.NaN, '-')


pd.set_option('display.max_rows', 4000)
g = groups[
    groups['æ€§åˆ¥']['count'] > 0
]
display(g)

                æ€§åˆ¥ è¼ªå€™æ—¥æ•¸  ä½é™¢æ—¥æ•¸
             count mean  mean      sum
å¹´    æœˆ
2020 1/2020     13    -     -      0.0
     2/2020     82    -  30.3     91.0
     3/2020    620    -  17.6   9395.0
     4/2020    323  1.0  17.1   5517.0
     5/2020     47  1.0  19.0    893.0
     6/2020    121  1.0  14.4   1699.0
     7/2020   2040  1.8  12.7  24847.0
     8/2020   1537  1.3  12.0  17868.0
     9/2020    277  1.0  12.8   3313.0
     10/2020   234  1.0  11.4   2401.0
     11/2020   991  1.0  12.7  12103.0
     12/2020  2532  1.0  13.1  31889.0
2021 1/2021   1605  1.0  12.5  19350.0
     2/2021    553  1.0  10.3   5428.0
     3/2021    459  1.0  10.7   4775.0
     4/2021    305  1.0  10.9   3193.0
     5/2021     67  1.0   6.6    430.0
     6/2021     79  1.0  11.7    915.0
     7/2021     61  1.5  10.6    644.0
     8/2021    126  1.0  11.4   1431.0
     9/2021    110  1.0   9.5   1040.0
     10/2021   129  1.0  13.6   1754.0
     11/2021    90  1.0  17.8   1606.0
     12/2021   213  1.0  20.4   4297.0
2022 1/2022   1554  1.3  12.5  16660.0
     2/2022   1225  1.7   4.6   1480.0

### Group by week ä»¥æ¯é€±è¨ˆ

In [33]:
# Analyze Period
start_date = np.datetime64(datetime.date(2020,1,1))
end_date = np.datetime64(datetime.date(2022,10,1))

# Query
groups = df[
    (
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å‡ºé™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'æ­»äº¡')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'ä½é™¢')|
        (df['ä½é™¢/å‡ºé™¢/æ­»äº¡'] == 'å¾…å…¥é™¢')
    )&
    (df['å ±å‘Šæ—¥æœŸ'] >= start_date) &
    (df['å ±å‘Šæ—¥æœŸ'] <= end_date)
].groupby(
    ['æœˆ', 'é€±']
).agg({
    'æ€§åˆ¥': ['count'],
    'è¼ªå€™æ—¥æ•¸': ['mean'],
    'ä½é™¢æ—¥æ•¸': ['mean', 'sum']
}).round(1).replace(np.NaN, '-')


pd.set_option('display.max_rows', 4000)
g = groups[
    groups['æ€§åˆ¥']['count'] > 0
]
display(g)

                      æ€§åˆ¥ è¼ªå€™æ—¥æ•¸  ä½é™¢æ—¥æ•¸
                   count mean  mean     sum
æœˆ       é€±
1/2020  19/1/2020      5    -     -     0.0
        26/1/2020      8    -     -     0.0
2/2020  26/1/2020      2    -     -     0.0
        2/2/2020      11    -     -     0.0
        9/2/2020      30    -  29.5    59.0
        16/2/2020     14    -  32.0    32.0
        23/2/2020     25    -     -     0.0
3/2020  1/3/2020      15    -  41.7   125.0
        8/3/2020      32    -  19.7   296.0
        15/3/2020    132    -  13.4  1423.0
        22/3/2020    309    -  17.8  5010.0
        29/3/2020    132    -  19.9  2541.0
4/2020  29/3/2020    148  1.0  18.3  2713.0
        5/4/2020     138  1.0  16.5  2280.0
        12/4/2020     23  1.0  15.0   344.0
        19/4/2020     14    -  12.9   180.0
5/2020  26/4/2020      2    -  16.0    32.0
        3/5/2020       5    -  18.2    91.0
        10/5/2020      8  1.0  14.9   119.0
        17/5/2020     13    -  18.8   244.0
        24/5/2020     17    -  20.1   341.0
        31/5/2020      2    -  33.0    66.0
6/2020  31/5/2020     21  1.0  17.5   333.0
        7/6/2020       4    -  16.0    64.0
        14/6/2020     19  1.0  14.7   279.0
        21/6/2020     69  1.0  13.3   903.0
        28/6/2020      8  1.0  15.0   120.0
7/2020  28/6/2020     53  1.0  12.8   677.0
        5/7/2020     168  1.0  18.3  2907.0
        12/7/2020    344  1.5  16.9  5591.0
        19/7/2020    719  1.5  12.6  8845.0
        26/7/2020    756  2.1   9.5  6827.0
8/2020  26/7/2020    125  1.6  10.3  1244.0
        2/8/2020     611  1.5  11.2  6529.0
        9/8/2020     398  1.1  12.5  4849.0
        16/8/2020    251  1.0  13.0  3202.0
        23/8/2020    128  1.0  13.8  1683.0
        30/8/2020     24  1.0  15.7   361.0
9/2020  30/8/2020     47  1.0  12.6   518.0
        6/9/2020      81  1.0  12.5   951.0
        13/9/2020     71  1.0  15.0  1032.0
        20/9/2020     50  1.0  11.0   539.0
        27/9/2020     28  1.0  11.4   273.0
10/2020 27/9/2020     21  1.0   9.8   197.0
        4/10/2020     67  1.0  14.0   843.0
        11/10/2020    62  1.0   9.4   543.0
        18/10/2020    50  1.0  11.3   488.0
        25/10/2020    34  1.0  11.0   330.0
11/2020 1/11/2020     41  1.0  10.5   367.0
        8/11/2020     80  1.0  10.5   770.0
        15/11/2020   116  1.0  12.8  1397.0
        22/11/2020   563  1.0  12.9  7126.0
        29/11/2020   191  1.0  13.1  2443.0
12/2020 29/11/2020   488  1.0  15.4  7345.0
        6/12/2020    644  1.0  12.8  7947.0
        13/12/2020   632  1.0  13.1  7950.0
        20/12/2020   462  1.0  11.6  5062.0
        27/12/2020   306  1.0  12.2  3585.0
1/2021  27/12/2020    77  1.0  12.1   882.0
        3/1/2021     288  1.0  12.3  3346.0
        10/1/2021    290  1.0  11.6  3226.0
        17/1/2021    507  1.0  14.1  6938.0
        24/1/2021    390  1.0  11.7  4407.0
        31/1/2021     53  1.0  10.6   551.0
2/2021  31/1/2021    156  1.0  10.3  1547.0
        7/2/2021     159  1.0  10.1  1558.0
        14/2/2021     81  1.0   8.4   608.0
        21/2/2021    135  1.0  11.4  1494.0
        28/2/2021     22  1.0  10.5   221.0
3/2021  28/2/2021     69  1.0  10.7   727.0
        7/3/2021     182  1.0  11.2  2021.0
        14/3/2021    112  1.0  10.5  1147.0
        21/3/2021     74  1.0   9.8   656.0
        28/3/2021     22  1.0  10.7   224.0
4/2021  28/3/2021     34  1.0  10.5   336.0
        4/4/2021      67  1.0  11.4   738.0
        11/4/2021     85  1.0  10.3   835.0
        18/4/2021     75  1.0   9.9   732.0
        25/4/2021     44  1.0  13.1   552.0
5/2021  25/4/2021      8  1.0   4.8    38.0
        2/5/2021      23  1.0   8.3   190.0
        9/5/2021      15  1.0   6.6    99.0
        16/5/2021     10  1.0   3.8    34.0
        23/5/2021      7  1.0   8.1    57.0
        30/5/2021      4  1.0   4.0    12.0
6/2021  30/5/2021     10  1.1   9.9    99.0
        6/6/2021      26  1.0  10.3   269.0
        13/6/2021      7  1.0   7.1    50.0
        20/6/2021     24  1.0  13.7   316.0
        27/6/2021     12  1.0  15.1   181.0
7/2021  27/6/2021     16  1.0  13.4   214.0
        4/7/2021      11  1.0   9.7   107.0
        11/7/2021      6  1.0  12.8    77.0
        18/7/2021     19  1.0   9.1   173.0
        25/7/2021      9  4.6   8.1    73.0
8/2021  1/8/2021      27  1.0   9.6   260.0
        8/8/2021      20  1.0  12.4   247.0
        15/8/2021     19  1.0  10.6   201.0
        22/8/2021     48  1.0  12.5   598.0
        29/8/2021     12  1.0  10.4   125.0
9/2021  29/8/2021      6  1.0   8.5    51.0
        5/9/2021      29  1.0   9.7   281.0
        12/9/2021     15  1.0   9.2   138.0
        19/9/2021     28  1.0   9.1   254.0
        26/9/2021     32  1.0   9.9   316.0
10/2021 26/9/2021      9  1.0   9.0    81.0
        3/10/2021     35  1.0   9.1   318.0
        10/10/2021    30  1.0  12.2   365.0
        17/10/2021    28  1.0  18.5   518.0
        24/10/2021    26  1.0  17.7   461.0
        31/10/2021     1  1.0  11.0    11.0
11/2021 31/10/2021    21  1.0  14.9   313.0
        7/11/2021     13  1.0  12.4   161.0
        14/11/2021    19  1.0  15.9   302.0
        21/11/2021    25  1.0  22.7   567.0
        28/11/2021    12  1.0  21.9   263.0
12/2021 28/11/2021    16  1.0  20.3   325.0
        5/12/2021     31  1.1  24.5   761.0
        12/12/2021    35  1.0  22.0   748.0
        19/12/2021    62  1.0  19.7  1222.0
        26/12/2021    69  1.0  18.2  1241.0
1/2022  26/12/2021    17  1.0  17.5   297.0
        2/1/2022     235  1.0  15.6  3658.0
        9/1/2022     129  1.0  15.2  1940.0
        16/1/2022    115  1.0  14.6  1667.0
        23/1/2022    883  1.4  11.2  8222.0
        30/1/2022    175  1.5   8.5   876.0
2/2022  30/1/2022    875  1.4   5.0  1387.0
        6/2/2022     350  2.7   2.2    93.0